@model FaqAddEditModel

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Entity.QuestionString" class="control-label"></label>
        <input asp-for="Entity.QuestionString" class="form-control" />
        <span asp-validation-for="Entity.QuestionString" class="text-danger"></span>
    </div>
    <div class="form-group">
        @*<div class="row">
            <div class="col-sm-12">
                <label asp-for="Entity.Categories" class="control-label">Select the appropriate Categories:</label>
                <hr />
                <div class="col-md-6">
                    <div class="panel-group" id="accordion">
                        @{ var cout = Convert.ToInt32(Math.Round((double)Model.AvailableCategories.Count / 2));}
                        @if (Model.AvailableCategories != null)
                        {
                            for (var i = 0; i < cout; i++)
                            {
                                <div class="panel">
                                    <div class="row" style="vert-align: middle">
                                        <div class="col-md-1">
                                            <input asp-for="@Model.AvailableCategories[i].IsSelected" type="checkbox" class="filled-in" style="opacity: 100 !important; position: relative; left: 0; height: 20px" />
                                            <input asp-for="@Model.AvailableCategories[i].Identity" type="hidden" />
                                        </div>
                                        <div class="col-md-11">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@Model.AvailableCategories[i].Identity">@Model.AvailableCategories[i].Name</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No categories currently available for this listing</p>
                        }
                    </div>
                </div>
                <hr />
            </div>
        </div>*@
    </div>
    <h3 class="m-t-10">Answers</h3>
    <hr class="m_bottom_10">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <table style="width:100%" id="AnswersList">
                    @if (Model.Entity.Answers.Any())
                    {
                        foreach (var item in Model.Entity.Answers)
                        {
                            <tr id="row_@item.Id" class="row_@item.Id">
                                <td id="answer_@item.Id">@Html.Raw(@item.AnswerString)</td>
                                <td style="width: 100px;">
                                    <a href="javascript:;" onclick="ShowEditAnswerModal('@item.Id')" class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:;" onclick="ShowDeleteAnswerModal('@item.Id')" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr id="row_no_data">
                            <td colspan="2">
                                No answers available!
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <hr class="m_bottom_10">
    <input type="hidden" asp-for="Entity.Id" />
    <div class="form-group" style="        position: relative;
        text-align: center;

        align-content: center;

        display: flex;
        justify-content: center;
        position: relative;

        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        ">
        <input class="btn btn-primary" name="finnish" type="submit" value="Create " style="margin:10px;" />
        <input class="btn btn-primary" name="main" type="submit" value="Save" style="margin:10px;" />
        <input class="btn btn-primary" name="finnish" type="submit" value=" Submit" style="margin:10px;" />
        @*<a href="javascript:;" onclick="ShowCreateAnswerModel('@Model.Entity.Id')" class="btn btn-info" style="float: right">Create Answer</a>*@
        <button class="btn btn-danger" asp-area="Faqs" asp-controller="Home" asp-action="List" style="margin:10px;">Cancel</button>
    </div>
</form>


@section Scripts
    {
    <script type="text/javascript">

        function ShowCreateAnswerModel(ff) {

            var url = "/Faqs/Answers/Create?parentId=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }

        function ShowEditAnswerModal(ff) {

            var url = "/Faqs/Answers/Edit?id=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }

        function ShowDeleteAnswerModal(ff) {

            var url = "/Faqs/Answers/Delete?id=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }

    </script>
}