@model TicketAddEditModel
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Create New Prayer Request";
}

<section id="content" class="light_section">
    <div class="container">

        <div class="row">

            <div class="widget col-sm-6 to_animate">
                <form asp-area="Prayer" asp-controller="Home" asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Captcha" id="captchaInput" />
                    <div class="col-md-6">
                        <p class="contact-form-name">
                            <label asp-for="FirstName"></label>
                            <input type="text" aria-required="true" size="30" asp-for="FirstName" class="form-control" placeholder="First Name">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="contact-form-name">
                            <label asp-for="LastName"></label>
                            <input type="text" aria-required="true" size="30" asp-for="LastName" class="form-control" placeholder="Last Name">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="contact-form-name">
                            <label asp-for="PhoneNr"></label>
                            <input type="text" aria-required="true" size="30" asp-for="PhoneNr" class="form-control" placeholder="Telephone Number">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="contact-form-email">
                            <label asp-for="EmailAddress"></label>
                            <input type="email" aria-required="true" size="30" asp-for="EmailAddress" class="form-control" placeholder="Email Address">
                        </p>
                    </div>
                    <p class="contact-form-subject">
                        <label asp-for="Subject"></label>
                        <input type="text" aria-required="true" size="30" asp-for="Subject" class="form-control" placeholder="Subject">
                    </p>
                    <p class="contact-form-message">
                        <label asp-for="Content">Message</label>
                        <textarea aria-required="true" rows="8" cols="45" asp-for="Content" class="form-control" placeholder="Message"></textarea>
                    </p>
                    <p class="contact-form-submit vertical-margin-40">
                        <!-- <input type="submit" value="Send" id="contact_form_submit" name="contact_submit" class="theme_button"> -->
                        <button type="submit" id="contact_form_submit" name="contact_submit" class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px"><i class="rt-icon-sent"></i> Send!</button>
                        <button type="reset" class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px">Reset</button>
                    </p>
                </form>
            </div>

            <div class="widget widget_contact col-sm-6 to_animate">
                <h3>Contact Info</h3>
                <p>
                    Our contact details if you need to contact us via other means, we do recommend the contact form on the website as it is monitored constantly, by educated KLSM representatives
                    <i class="rt-icon-device-phone"></i><strong>Phone:</strong> @FrameworkDI.Configuration["Company:Tel"]
                </p>
                <p>
                    <i class="rt-icon-pencil"></i><strong>Email:</strong> <a href="@FrameworkDI.Configuration["EmailSettings:InfoAddress"]">@FrameworkDI.Configuration["EmailSettings:InfoAddress"]</a>
                </p>
                <p>
                    <i class="rt-icon-globe-outline"></i><strong>Website: </strong><a href="./">@FrameworkDI.Configuration["Company:FriendlyWebUrl"]</a>
                </p>
                <p>
                    <i class="rt-icon-location-arrow-outline"></i><strong>Address:</strong> @FrameworkDI.Configuration["Address:City"] @FrameworkDI.Configuration["Address:Provice"]
                </p>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
    <script>
        grecaptcha.ready(function() {
            window.grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'home' }).then(function (token) {
                $("#captchaInput").val(token);
            });
        });
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtpPNg-JCpH9A7fzgsnkiz45nrJShhKrU"></script>
    <script type="text/javascript">
        var lat;
        var lng;
        var map;
        var styles = [{ "stylers": [{ "saturation": -100 }, { "gamma": 1 }] }, { "elementType": "labels.text.stroke", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi.business", "elementType": "labels.text", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi.business", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi.place_of_worship", "elementType": "labels.text", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi.place_of_worship", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "elementType": "geometry", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "water", "stylers": [{ "visibility": "on" }, { "saturation": 50 }, { "gamma": 0 }, { "hue": "#50a5d1" }] }, { "featureType": "administrative.neighborhood", "elementType": "labels.text.fill", "stylers": [{ "color": "#333333" }] }, { "featureType": "road.local", "elementType": "labels.text", "stylers": [{ "weight": 0.5 }, { "color": "#333333" }] }, { "featureType": "transit.station", "elementType": "labels.icon", "stylers": [{ "gamma": 1 }, { "saturation": 50 }] }];

        //type your address after "address="
        jQuery.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address=Cape Town, Protea Heights', function (data) {
            lat = '-33.890639';
            lng = '18.705718';
        }).complete(function () {
            dxmapLoadMap();
        });

        function attachSecretMessage(marker, message) {
            var infowindow = new google.maps.InfoWindow(
                {
                    content: message
                });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }

        window.dxmapLoadMap = function () {
            var center = new google.maps.LatLng(lat, lng);
            var settings = {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoom: 16,
                draggable: false,
                scrollwheel: false,
                center: center,
                styles: styles
            };
            map = new google.maps.Map(document.getElementById('map'), settings);

            var marker = new google.maps.Marker({
                position: center,
                title: 'Map title',
                map: map
            });
            marker.setTitle('Map title'.toString());
            //type your map title and description here
            attachSecretMessage(marker, '<h3>Map title</h3>Map HTML description');
        }
    </script>
}
