@inject IApplicationConfiguration Configuration

@using Filing.Base.Enums
@using Filing.Base.Extensions
@using Iqt.Base.Extensions
@using Iqt.Base.Interfaces

@model Education.Base.ApiModels.StudentCourseApiModel

@{
    ViewData["Title"] = @Model.Name;
    ViewData["Description"] = @Model.Description.TruncateLongString(50);
}

<input type="hidden" asp-for="@Model.CurrentModuleId"/>

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="m-b-md">
                <a asp-area="Courses" asp-controller="Modules" asp-action="Index" asp-route-moduleId="@Model.CurrentModuleId" class="btn btn-white btn-xs pull-right">Back to my Courses</a>
                <h2>@Model.Name</h2>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">

                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                @if (Model.CompletedPercentage != "100")
                                {
                                    <dd><span class="label label-primary">Active</span></dd>
                                }
                                else
                                {
                                    <dd><span class="label label-info">Completed</span></dd>
                                }
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">

                                <dt>Description:</dt>                              
                                    <dd>  @Model.Description</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: 60%;" class="progress-bar">

                                        
                                        </div>
                                    </div>
                                    <small>Project completed in <strong>@Model.CompletedPercentage</strong>. Remaining close the project, sign a contract and invoice.</small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Messages</a></li>
                                            <li class=""><a href="#tab-2" data-toggle="tab">Modules</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <div class="feed-activity-list">
                                                <div class="feed-element">
                                                    <a href="#" class="pull-left">
                                                    </a>
                                                    <div class="media-body ">
                                                        
                                                        <small class="pull-right">2h ago</small>
                                                        <strong>No Current Messages</strong>, please check back later. <br>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="tab-2">

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Status</th>
                                                        <th>Title</th>
                                                        <th>Start Time</th>
                                                        <th>End Time</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  
                                                    <tr>
                                                        <td>
                                                            @if (Model.CompletedPercentage == "100")
                                                            {
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                            }
                                                            else
                                                            {
                                                        <span class="label label-primary"><i class="fa fa-check"></i> Not Completed</span>
                                                            }
                                                            
                                                        </td>
                                                        <td>
                                                            @Model.Name
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                           
                                                            <p class="small">
                                                                @Model.Description
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    @* <tr>
                                                        <td>
                                                            @if (Model.CompletedPercentage == "100")
                                                            {
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Not Completed</span>
                                                            }

                                                        </td>
                                                        <td>
                                                            @Model.Name
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                @Model.Description
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                        </td>
                                                        <td>
                                                            There are many variations
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                        </td>
                                                        <td>
                                                            Latin words
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                Latin words, combined with a handful of model sentence structures
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                        </td>
                                                        <td>
                                                            The generated Lorem
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                        </td>
                                                        <td>
                                                            The first line
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                        </td>
                                                        <td>
                                                            The standard chunk
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                        </td>
                                                        <td>
                                                            Lorem Ipsum is that
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                        </td>
                                                        <td>
                                                            Contrary to popular
                                                        </td>
                                                        <td>
                                                            12.07.2014 10:10:1
                                                        </td>
                                                        <td>
                                                            14.07.2014 10:16:36
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                                            </p>
                                                        </td>

                                                    </tr> *@

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">
            <h2>Project description</h2>
            <img src="@Model.ImageUrl" alt="@Model.Name" class="img-responsive">
            <br />
            <p class="small">
                @Model.Description
            </p>

            <div class="m-t-md">
                @await Component.InvokeAsync("CourseModules", new { studentId = @Model.StudentId, courseId = @Model.CourseId })
            </div>
            <hr />
            @if (!Model.Started)
            {
                <a class="btn btn-primary btn-block" asp-area="Courses" asp-controller="Modules" asp-action="Index" asp-route-moduleId="@Model.CurrentModuleId">Start Course</a>
            }
            else
            {
                <a class="btn btn-primary btn-block" asp-area="Courses" asp-controller="Modules" asp-action="Index" asp-route-moduleId="@Model.CurrentModuleId">Start Course</a>
            }


            @*tO BE PATCHED IN STUDYING iNDEX----API STILL NEED TO BE CHECKED*@
            @*<p class="small font-bold">
                <span><i class="fa fa-circle text-warning"></i> High priority</span>
            </p>
            <h5>Project files</h5>
            <ul class="list-unstyled project-files">
                <li><a href="#"><i class="fa fa-file"></i> Project_document.docx (Dummy File)</a></li>
                <li><a href="#"><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg (Dummy File)</a></li>
                <li><a href="#"><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln (Dummy File)</a></li>
                <li><a href="#"><i class="fa fa-file"></i> Contract_20_11_2014.docx (Dummy File)</a></li>
            </ul>*@
        </div>
    </div>
</div>