@using Iqt.Base.Interfaces
@model Identity.Base.ApiModels.UserInfoModel
@inject IApplicationConfiguration Configuration

<div class="dropdown profile-element">
    <span>
        <img alt="image" class="img-circle" src="@Model.ImageUrl" style="width:48px; height:45px;" />
    </span>
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="clear">
            <span class="block m-t-xs">
                <strong class="font-bold">@Model.FirstName @Model.LastName</strong>
            </span> <span class="text-muted text-xs block">
                @Model.EmailAddress<b class="caret"></b>
            </span>
        </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li><a asp-area="Dashboard" asp-controller="Home" asp-action="Profile" asp-route-id="@Model.Id">Profile</a></li>
        <li><a asp-area="Dashboard" asp-controller="Home" asp-action="Friends" asp-route-id="@Model.Id">Contacts</a></li>
        <li class="divider"></li>
        <li><a asp-controller="Home" asp-action="Logout">Logout</a></li>
    </ul>
</div>