@using Filing.Base.Extensions
@model BlogPost

<div class="blog-shortcode style-3">
    <a class="preview rounded-image simple-mouseover" asp-area="Blog" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id"><img class="rounded-image" src="@Model.GetPath()" alt="@Model.Title"/></a>
    <div class="date">
        <span>@Model.Created.Day</span> @Model.Created.Month / @Model.Created.Year
    </div>
    <div class="content">
        <div class="blog-comments"><i class="fa fa-comment-o" aria-hidden="true"></i> 0 &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> @Model.Likes</div>
        <h4 class="title h4"><a asp-area="Blog" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a></h4>
        <div class="description simple-article size-1 grey uppercase"><a class="color" href="#">john wick</a> &nbsp;&nbsp;<a class="color" href="#">Gadgets</a></div>
        <div class="description-article simple-article size-2">@Model.ShortDescription</div>
        <a class="button size-2 style-3" asp-area="Blog" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">
            <span class="button-wrapper">
                <span class="icon"><img src="img/icon-4.png" alt="Side Arrow"></span>
                <span class="text">learn more</span>
            </span>
        </a>
    </div>
</div>

<div class="empty-space col-xs-b35 col-md-b70"></div>