
@model ServiceIndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th style="width: 15%">
                Cover Image
            </th>
            <th>
                Name
            </th>
            <th>
                Short Description
            </th>
            <th>
                Active
            </th>
            <th>
                Featured
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.All.Any())
        {
            foreach (var item in Model.AllPaged.Results)
            {
                <tr id="row_@item.Id" class="row_@item.Id">
                    <td>
                        <a href="@Url.Action("Details", "Home", new {id = item.Id})">
                            <img id="preview" style="height: auto;" class="img-thumbnail" title="@item.Name" alt="@item.Name" src="@item.GetPath("http://admin.metsi.co.za", ImageType.Cover,"/images/placeholders/MetsiPlaceholder-800x533.jpg")">
                        </a>
                    </td>
                    <td width="auto">
                        <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                    </td>
                    <td>
                        @item.AdditionalInfo.TruncateLongString(360)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Featured)
                    </td>
                    <td width="100px">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <a href="javascript:;" onclick="ShowDeleteBlogCategoryModal('@item.Id')" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr id="row_nodata" class="row_nodata">
                <td colspan="9">
                    <h4>No Services currently available, please check back later or <strong><a asp-area="Services" asp-controller="Home" asp-action="Create"> create a new service now</a></strong></h4>
                </td>
            </tr>
        }

    </tbody>
</table>

@if (Model.AllPaged.PageCount > 1)
{
    <div class="pagination-nav text-center">
        <ul class="pagination">
            @if (Model.CurrentPage != 1)
            {
                <li><a @Url.Action("List", new { page = 1 })>«</a></li>
            }
            @for (int p = 1; p <= Model.AllPaged.PageCount; p++)
            {
                if (p == Model.AllPaged.CurrentPage)
                {
                    <li class="active"><a asp-area="Services" asp-controller="Home" asp-action="List" asp-route-pagel="@p">@p</a></li>
                }
                else
                {
                    <li><a asp-area="Services" asp-controller="Home" asp-action="List" asp-route-pagel="@p">@p</a></li>
                }
            }
            @if (Model.CurrentPage != Model.AllPaged.PageCount)
            {
                <li><a @Url.Action("List", new { page = Model.AllPaged.PageCount })>»</a></li>
            }
        </ul>
    </div>
}

<p class="text-right">
    <a asp-area="Services" asp-controller="Home" asp-action="Create" class="btn btn-info btn-block">Create New Service</a>
</p>

@section Scripts
{
    <script>
        function ShowDeleteBlogCategoryModal(numberId) {

            var url = "/Services/Home/Delete?id=" + numberId;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }
    </script>
}