
@model ProductIndexModel

@{
    ViewData["Title"] = "Product List";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th style="width: 15%">
                Cover Image
            </th>
            <th>
                Name
            </th>
            <th>
                Active
            </th>
            <th>
                Featured
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.All.Any())
        {
            foreach (var item in Model.All)
            {
                <tr>
                    <td>
                        <a asp-area="Products" asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id">
                            <img id="preview" style="height: auto;" class="img-thumbnail" title="@item.Name" alt="@item.GetImage()?.FileName" src="@item.GetImage()">
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Featured)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-info"><i class="fa fa-eye"></i></a>
                        <a href="javascript:;" onclick="ShowDeleteModal('@item.Id')" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9">
                    <h4>No Products currently available, please check back later or <a asp-area="Products" asp-controller="Home" asp-action="Create">create a new Product</a></h4>
                </td>
            </tr>
        }

    </tbody>
</table>

<p class="text-right" style="width: 100%">
    <a asp-area="Products" asp-controller="Home" asp-action="Create" class="btn btn-danger btn-block">Create New Product</a>
</p>

@section Scripts
{
    <script>
        function ShowDeleteModal(ff) {

            var url = "/Products/Home/Delete?id=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }
    </script>
}