@model GoodReceivedVoucherAddEditModel
@{
    ViewData["Title"] = "View";
}

<h1>Good Received Voucher</h1>

<div class="row">
    <div class="col-md-6">
        <h2>@Html.DropDownListFor(m => m.Supplier,
                new SelectList(Model.SupplierList),
                "Select Gender", new { @class = "form-control" })</h2>
        <h3>Delivery Address</h3>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.UnitNumber @Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.AddressLine1</h4>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.Suburb</h4>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.City</h4>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.Province</h4>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.Country</h4>
    </div>
    <div class="col-md-6">
        <h2></h2>
        <h3>Delivery Address</h3>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.UnitNumber @Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.AddressLine1</h4>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.Suburb</h4>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.City</h4>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.Province</h4>
        <h4>@Model.Supplier?.Addresses?.FirstOrDefault(c => c.Default)?.Country</h4>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <td colspan="1">
                    <input id="QtyToAdd" placeholder="Qty"/>
                </td>
                <td colspan="4">
                    <input id="ProductToAdd" placeholder="Choose Product to Add"/>
                </td>
            </tr>
            <tr>
                <td>
                    Qty
                </td>
                <td>
                    Product
                </td>
                <td>
                    Pack size
                </td>
                <td>
                    Price Excl
                </td>
                <td>
                    Vat
                </td>
                <td>
                    Price Incl
                </td>
            </tr>
            </thead>
            <tbody id="GRVDetails">
            @foreach (var item in Model.Details)
            {
                <tr>
                    <td>
                       @item.Qty
                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Product.PriceExcl
                    </td>
                    <td>
                        @item.Product.Vat
                    </td>
                    <td>
                        @item.Product.PriceIncl
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <strong>Totals</strong>
                    </td>
                    <td>
                        @Model.Details.Sum(c => c.PriceExcl)
                    </td>
                    <td>
                        @Model.Details.Sum(c => c.PriceVat)
                    </td>
                    <td>
                        @Model.Details.Sum(c => c.PriceIncl)
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
