@model IEnumerable<Category<Event>>

@{
    ViewData["Title"] = "Event Category List";
}

<table class="table">
    <thead>
        <tr>
            <td  width="100px">
                Image
            </td>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr id="row_@item.Id" class="row_@item.Id">
                    <td width="100px">
                        <img src="@item.GetImage().GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"],FrameworkDI.Configuration["Placeholders:CoverImage"])" alt="@item.Name Image"/>
                    </td>
                    <td>
                        <strong><a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="width: 15%">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-info"><i class="fa fa-eye"></i></a>
                        <a href="javascript:;" onclick="ShowDeleteModal('@item.Id')" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6"><h4>No Categories currently available, please check back later or <a asp-area="Events" asp-controller="Categories" asp-action="Create">Create a new Category</a></h4></td>
            </tr>
        }

    </tbody>
</table>

<p class="text-right">
    <a asp-area="Events" asp-controller="Categories" asp-action="Create" class="btn btn-danger btn-block">Create New Category</a>
</p>

@section Scripts
{
    <script>
        function ShowDeleteModal(ff) {

            var url = "/Events/Categories/Delete?id=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }
    </script>
}
