@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Customer List";
}
<div class="profile-container">
    <div class="profile-section">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Names
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Featured)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr id="row_@item.Id" class="row_@item.Id">
                    <td>
                        <img style="width:100px" id="preview" class="img-thumbnail" title="@item.Name" alt="@item.GetImage()?.FileName" src="@item.GetPath("http://admin.metsi.co.za", ImageType.Cover, "/images/placeholders/profileImage128x128.png" )">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.ContactNumbers.FirstOrDefault(c => c.Default)?.Number
                    </td>
                    <td>
                        @item.EmailAddresses.FirstOrDefault(c => c.Default)?.Address
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Featured)
                    </td>
                    <td style="width: 100px">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-circle btn-xs"><i class="fa fa-edit"></i></a>
                        <a href="javascript:;" onclick="ShowDeleteModal('@item.Id')" class="btn btn-danger btn-circle btn-xs"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <a asp-area="Customers" asp-controller="Home" asp-action="Create" class="btn btn-danger btn-block">Create New Customer</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        function ShowDeleteModal(ff) {
            var url = "/Customers/Home/Delete?id=" + ff;

            $("#ModalPlaceHolder").load(url,
                function() {
                    $("#ModalPlaceHolder").modal("show");
                });
        }
    </script>
}