@using Filing.Base.Extensions
@using Iqt.Base.Extensions
@using Iqt.Base.Interfaces
@model Blogging.Core.Models.BlogEntryDetailsPageModel

@inject IApplicationConfiguration Configuration

@{
    ViewData["Title"] = @Model.Entity.Title +  " Details";
    ViewData["Description"] = @Model.Entity.ShortDescription;
    ViewData["Keywords"] = "Web Design, Web Desing Cape Town, Web Design Prices, Web Design South Africa, Web Designers, Proffesional Web Design Company, Quality Web Design, Web Design Costs" +
                           "Web Design Packages, Web Site Design, Website, Designing, Web Design Prices, Web Designer, Web Site Design, Affordable Website Designing, Web Development, Application Development" +
                           "SEO, Search Engine Optimization, Cheap SEO, SEO Experts, Email Campaigns, Social Media Campaigns, Digital Marketing, Database Development, Database Developer, Database, " +
                           "Database Architects, Cape Town, South Africa, Websites, E-Commerce, Web Hosting, Website Hosting, Adwords, Google Adwords, ASP.NET, DOTNET Core, SQL Server, Entity Framework, C#"
                           + "CSharp, C-Sharp, Visual CSharp, Visual CSharp, Code First, Visual Basic, VB.Net, JAVA, JQeury, Ajaq, Razor";
}

<partial name="Breadcrumbs/_BreadcrumPartial" />

<div class="section_offset">
    <div class="container">
        <div class="row">
            <section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
                <!--post-->
                <article class="clearfix m_bottom_45 m_xs_bottom_30 blog_post">
                    <!--date,category,likes-->
                    <div class="blog_side_container w_sm_auto f_left f_xs_none m_xs_bottom_5">
                        <!--date-->
                        <a href="#" class="d_block d_xs_inline_b m_xs_right_5 blog_side_button r_corners bg_color_purple color_light t_align_c blog_date m_bottom_5">
                            <span class="d_block day_of_the_month fw_light">@Model.Entity.Created.Day</span>
                            <span class="d_block tt_uppercase fs_medium">@Model.Entity.Created.Month.GetAbbreviatedMonth()</span>
                        </a>
                        <!--category-->
                        <a href="#" class="d_block d_xs_inline_b m_xs_right_5 blog_side_button vc_child t_align_c color_purple bg_color_purple_hover color_light_hover bg_light_3 r_corners m_bottom_5 tr_all">
                            <i class="icon-picture-1 d_inline_m"></i>
                        </a>
                        <!--likes-->
                        <a href="#" class="d_block d_xs_inline_b m_xs_right_5 blog_side_button vc_child t_align_c border_grey r_corners tr_all color_grey color_red_hover">
                            <span class="d_inline_m">
                                <span class="d_block"><i class="icon-heart-empty color_grey_light_2 tr_all d_block m_top_5"></i></span>
                                <i class="fs_medium">@Model.Entity.Likes</i>
                            </span>
                        </a>
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_floating_style addthis_counter_style">
                            <a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
                            <a class="addthis_button_tweet" tw:count="vertical"></a>
                            <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
                            <a class="addthis_counter"></a>
                        </div>
                    </div>
                    <!--post content-->
                    <figure>
                        <img src="@Model.Entity.GetPath(Configuration.BaseImageUrl)" alt="@Model.Entity.Title" class="r_corners m_bottom_20">
                        <figcaption>
                            <h3 class="fw_light color_dark">@Model.Entity.Title</h3>
                            <ul class="dotted_list m_bottom_5 color_grey_light_2">
                                @*<li class="m_right_15 relative d_inline_m">
                                    <a href="#" class="color_grey fs_small">
                                        <i>By @Model.Entity.ApplicationUser?.DisplayName</i>
                                    </a>
                                </li>*@
                                <li class="m_right_15 relative d_inline_m">
                                    @*@if (@Model.Entity.CategoryId != null)
                                    {
                                        <a asp-area="Blog" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Entity.CategoryId" class="fs_medium color_grey"><i>@Model.Entity.Category.Name</i></a><span>,</span>
                                    }
                                    @if (@Model.Entity.SubCategoryId != null)
                                    {
                                        <a asp-area="Blog" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Entity.SubCategoryId" class="fs_medium color_grey"><i>@Model.Entity.SubCategory.Name</i></a>
                                    }*@
                                </li>
                                <li class="m_right_15 relative d_inline_m">
                                    <a asp-area="Blog" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Entity.Id" class="color_scheme_hover">
                                        <i class="icon-chat-empty m_right_2 color_grey_light_2 tr_all"></i><i class="fs_medium color_grey tr_all">@*@Model.Entity.Comments.Count()*@</i>
                                    </a>
                                </li>
                            </ul>
                            <p class="fw_light m_bottom_12">@Html.Raw(Model.Entity.Description)</p>
                            @*@if (@Model.Entity.Tags.Any())
                            {
                                tags
                                <i class="icon-tag-1 color_grey_light_2 d_inline_m m_right_5 fs_large tags_icon"></i>
                                <ul class="d_inline_m fw_light">
                                    @foreach (var tag in Model.Entity.Tags)
                                    {
                                        <li class="d_inline_m"><a href="#" class="color_purple">@tag.Name</a> </li>
                                    }
                                </ul>
                            }*@
                        </figcaption>
                    </figure>
                </article>
                <hr class="m_bottom_20">
                <!--author comment-->
                @*
                    <div class="clearfix m_bottom_20">
                        @if (Model.Entity.ApplicationUser.GetImage() != null)
                        {
                            <a asp-area="Identity" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Entity.ApplicationUserId" class="f_left wrapper circle d_block m_right_20 m_xs_bottom_10">
                                <img src="@Model.Entity.ApplicationUser?.GetImage().GetImagePathFromAnotherWebsite("http://www.iqtechsolutions.co.za")" alt="@Model.Entity.ApplicationUser?.DisplayName">
                            </a>
                        }

                        <a asp-area="Identity" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Entity.ApplicationUserId" class="d_inline_b m_bottom_8 color_dark tr_all"><b>@Model.Entity.ApplicationUser?.DisplayName</b></a>
                        <p class="fw_light fs_medium">@Model.Entity.ApplicationUser?.PersonalDetails.PersonalDescription</p>
                    </div>
                *@
                <hr class="m_bottom_15">
                <!--prev next post buttons-->
                <div class="clearfix m_bottom_45 m_xs_bottom_30">
                    @if (Model.Previous != null)
                    {
                        <a asp-area="Blog" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Previous?.Id" class="color_purple d_inline_b color_pink_hover d_block f_left fw_light">
                            <span class="d_inline_m m_right_5 icon_wrap_size_0 circle color_grey_light tr_all">
                                <i class="icon-angle-left"></i>
                            </span>
                            Prev Post
                        </a>
                    }
                @if (Model.Next != null)
                {
                    <a asp-area="Blog" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Next?.Id" class="color_purple d_inline_b color_pink_hover d_block f_right fw_light">
                        Next Post
                        <span class="d_inline_m m_left_5 icon_wrap_size_0 circle color_grey_light tr_all">
                            <i class="icon-angle-right"></i>
                        </span>
                    </a>
                }
                    </div>
                @*@if (@Model.Entity.Comments.Any())
                {
                    <h5 class="fw_light color_dark m_bottom_25">Comments</h5>*@

                    @*foreach (var comment in @Model.Entity.Comments)
                    {
                        comment level 1
                        <div class="m_bottom_20">
                            <div class="d_table w_full m_bottom_20">
                                <div class="d_table_cell">
                                    @if (comment.ApplicationUser.GetImage() != null)
                                    {
                                        author photo
                                        <a asp-area="Identity" asp-controller="Profile" asp-action="Index" asp-route-id="@comment.ApplicationUserId" class="d_inline_m circle wrapper m_right_10">
                                            <img src="@comment.ApplicationUser?.GetImage().GetImagePathFromAnotherWebsite("http://www.iqtechsolutions.co.za")" alt="">
                                        </a>
                                    }

                                    author name
                                    <div class="d_inline_m">
                                        <a asp-area="Identity" asp-controller="Profile" asp-action="Index" asp-route-id="@comment.ApplicationUserId" class="fs_large color_dark tr_all"><b>@comment.ApplicationUser?.DisplayName</b></a>
                                        <p class="fs_medium color_grey d_mxs_none">
                                            <i>@comment.Created.ToLongDateString() @comment.Created.ToShortTimeString()</i>
                                        </p>
                                    </div>
                                </div>
                                <div class="d_table_cell t_align_r v_align_m d_mxs_none">
                                    <a asp-area="Comments" asp-controller="Home" asp-action="Create" asp-route-parentId="@comment.Id" class="color_purple d_inline_b color_pink_hover d_block f_right fw_light">
                                        <span class="d_inline_m m_right_5 icon_wrap_size_0 circle color_grey_light tr_all">
                                            <i class="icon-reply"></i>
                                        </span>
                                        Reply
                                    </a>
                                </div>
                            </div>
                            <div class="comment relative r_corners bg_light_3 fw_light">@comment.CommentString</div>
                        </div>
                        foreach (var subComment in comment.Comments)
                        {
                            comment level 2
                            <div class="m_bottom_20 comment_level_2">
                                <div class="d_table w_full m_bottom_20">
                                    <div class="d_table_cell">
                                        @if (subComment.ApplicationUser.GetImage() != null)
                                        {
                                            author photo
                                            <a asp-area="Identity" asp-controller="Profile" asp-action="Index" asp-route-id="@subComment.ApplicationUserId" class="d_inline_m circle wrapper m_right_10">
                                                <img src="@subComment.ApplicationUser?.GetImage().GetImagePathFromAnotherWebsite("http://www.iqtechsolutions.co.za")" alt="">
                                            </a>
                                        }

                                        author name
                                        <div class="d_inline_m">
                                            <a asp-area="Identity" asp-controller="Profile" asp-action="Index" asp-route-id="@subComment.ApplicationUserId" class="fs_large color_dark tr_all"><b>@subComment.ApplicationUser?.DisplayName</b></a>
                                            <p class="fs_medium color_grey d_mxs_none">
                                                <i>@comment.Created.ToLongDateString() @comment.Created.ToShortTimeString()</i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d_table_cell t_align_r v_align_m d_mxs_none">
                                        <a asp-area="Comments" asp-controller="Home" asp-action="Create" asp-route-parentId="@comment.Id" class="color_purple d_inline_b color_pink_hover d_block f_right fw_light">
                                            <span class="d_inline_m m_right_5 icon_wrap_size_0 circle color_grey_light tr_all">
                                                <i class="icon-reply"></i>
                                            </span>
                                            Reply
                                        </a>
                                    </div>
                                </div>
                                <div class="comment relative r_corners bg_light_3 fw_light">@comment.CommentString</div>
                            </div>
                        }
                    }*@
                @*}
                
                <partial name="_AddComment" model="@Model.CommentModel"/>*@
                
            </section>
            
            <partial name="SideBars/_DefaultLeftSideBar"/>

        </div>
    </div>
</div>
<hr class="divider_type_2">