@using Filing.Base.Extensions
@model Messaging.Base.Entities.Message

    <li class="media">
        <a href="javascript:;">
            <div class="media-left"><img src="@Model.GetImage()" class="media-object" alt="@Model.Name Image" /></div>
            <div class="media-body">
                <h6 class="media-heading">@Model.Name</h6>
                <p>@Model.MessageString</p>
                <div class="text-muted f-s-11">@Model.CreatedDateString</div>
            </div>
        </a>
    </li>