@model PhotoAlbum
@{
    ViewData["Title"] = $"{Model.Name} Details";
}

        <div class="row">
            <div class="col-md-4">
                <img class="img-fullwidth" src="@Model.GetImage().GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"],FrameworkDI.Configuration["Placeholders:CoverImage"])" alt="project">
            </div>
            <div class="col-md-8">
                <h2>@Model.Name</h2>
                <p>@Model.Description</p>
            </div>
        </div>
    <hr/>
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model.Images)
                {
                    <img id="@item" style="width: 20%;" title="@Model.Name" alt="@Model.Name" src="@item.GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"])">
                }
            </div> 
        </div>