@model Category<Question>


@{
    ViewData["Title"] = $"{Model.Name} Category"; ;
}

<h2>Details</h2>

<br />
<div>
    <h4>FAQ Category</h4>
    <hr />
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Cover Image</label>
            @*@if (Model.GetImage() != null)
            {
                <img id="preview" style="width: 100%" src="~/@Model.GetImage().GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"],FrameworkDI.Configuration["Placeholders:CoverImage"])" alt="" />
            }
            else
            {
                <img id="preview" style="width: 100%" src="~/images/placeholders/NoImageAvailable.jpgg" alt="" />
            }*@
        </div>
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="row text-right">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit Category</a>
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
    </div>
</div>