@inject IApplicationConfiguration ApplicationConfiguration;

@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "Layouts/_Layout";
}

<!--content-->
<div class="section_offset">
<div class="container clearfix">
<div class="row">
<div class="col-sm-3">
    <img src="~/images/terms.jpg" alt="">
</div>
<div class="col-sm-9">
    <p>
        Welcome to @ApplicationConfiguration.CompanyName (herein referred to as "The Company"). The whole 
        of these Terms & Conditions of Use is an Agreement between The Company and You (hereinafter "You" and/or "Your" and/or The Client"), as the user of this website 
        (hereinafter "Site") and The Company's services, and governs Your access to and use of this Site. The Site is an online network marketplace.
    </p>
    <p>
        It is not necessary for any Client to have signed an acceptance of these terms and conditions for them to apply. If a Client accepts a quote or uses this site
        or services redenred by The Company then the Client will be deemed to have satisfied themselves as to the terms applying and have accepted these terms and conditions
        in full.
    </p>
    <p>
        Please be sure to read this Agreement in its entirety before using this Site. If You do not agree to these terms, do not use this Site or The Company's services.
    </p>
    <p>
        <strong>
            By using this Site, You acknowledge that You are at least 18 years of age and that You have read, understand and agree without limitation or qualification
            to be legally bound by these Terms & Conditions of Use.
        </strong>
    </p>
</div>
<div class="col-sm-12">

    <br />

    <h4>Definitions</h4>
    <ul style="list-style-type: initial ">
        <li>
            <strong>Software</strong>
            shall mean (the computer programs in machine readable code form and any subsequent error corrections or updates supplied to the Client by
            the Developer pursuant to these terms)
        </li>
        <li>
            <strong>Development Plan</strong>
            means the activities and functions specified, for the development and delivery specifications.
        </li>
        <li>
            <strong>Development Schedule</strong>
            means the operative dates for the Development Plan
        </li>
        <li>
            <strong>Functional Specifications</strong>
            means the specifications to be prepared by the Developer with the co-operation of the Client. This will be based on the
            Request for Proposal and the Proposal itself, which in turn will conform in content but not necessarily in rigid structure (designs & patterns) to the requirements
            specified in the Functional Specification Content Requirements.
            When completed this will fully describe the required computer based business system, application or website at a business rather than a technical level
        </li>
        <li>
            <strong>Acceptance Criteria</strong>
            means the written technical and operational performance and functional criteria and documentation standards set out in the
            Development Plan.
        </li>
        <li>
            <strong>Acceptance Date </strong>
            means (the date for each Milestone when all the Deliverables included in the Milestone have been accepted by the Client in accordance
            with Acceptance Criteria and this Agreement)
        </li>
        <li>
            <strong>Deliverable</strong>
            means a deliverable specified in the Development Plan
        </li>
        <li>
            <strong>Delivery Date</strong>
            means (with respect to each particular Milestone), the date on which the Developer has delivered to the Client all the Deliverables (for
            that particular milestone) in accordance with (the Developer Plan and this Agreement)
        </li>
        <li>
            <strong>Documentation</strong>
            means the documents, manuals and written material (including end user manuals) referenced, indicated or described in the Developer Plan or
            otherwise developed pursuant to this Agreement.
        </li>
        <li>
            <strong>Milestone</strong>
            means the completion and delivery of all of the Deliverables or other events which are included or described in the Developer Plan
            scheduled for delivery and/or completion on a given target date. A Milestone will not be considered completed until the Acceptance Date has occured with respect to all
            or the Deliverables for that Milestone
        </li>
    </ul>

    <br />

    <h4>Agreement</h4>
    <p>
        Subject to the terms and conditions hereof the Developer agrees to develop and supply to the Client and the Client agrees to accept from the Developer the
        Functional Specifications or the requested business system, application, website or service.
    </p>

    <br />

    <h4>Development Responsibilities</h4>
    <ul>
        <li>
            <strong>Developer :</strong>
            The developer shall be responsible for establishing development mythologies, conducting fact gathering analysis, evaluating the
            possibility of incorporating any part of the current business system into the proposed system and for provision and supervision of the services of experienced
            and competent personnel to carry out the said obligations.
        </li>
        <li>
            <strong>Client :</strong>
            At all time during the development of the Functional Specifications, the Client shall ensure the prompt and efficient cooperation
            of all of its personnel, provide access to its business records and information and, provide the appropriate facilities such that the developer is in no way hindered
            from efficiently performing its obligations hereunder.
        </li>
        <li>
            <strong>Mutual :</strong>
            Both parties shall designate qualified representatives who shall attend at regular meetings scheduled as agreed to by both parties from
            time to time for purpose of exchanging information at both a business and technical level and coordinating and scheduling activities as may be necessary or desirable
            in connection with the development of the Functional specifications. At such meetings, the Developer shall provide regular written progress reports to the Client on
            the development of the Functional Specifications and, after such meetings; the Client shall promptly supply its written comments regarding such progress reports.
        </li>
    </ul>

    <br />

    <h4>Ownership</h4>
    <ul style="list-style-type: initial">
        <li>
            <strong>Clarification and Meaning</strong>
            <p>
                The Client hereby acknowledges and agrees that it may be necessary or desirable for the Developer to incorporate certain proprietary information or systems into the Functional
                Specifications and, therefore, the Client hereby expressly agrees that for the purpose of the paragraph the Functional Specifications shall be deemed not to include such proprietary
                information of the Developer which the Developer clearly marks or identifies as being proprietary information.
            </p>
            <p>
                Subject to paragraph the above mentioned paragraph, the Developer hereby agrees that the meaning of Functional Specifications shall be extended to encompass any and all work,
                files and other materials produced during the development contemplated by this agreement.
            </p>
        </li>
        <li>
            <strong>General</strong> The Developer hereby acknowledges and agrees that all rights, title and interest in and to the Functional Specifications and all copies thereof are and shall
            remain the property of the Client and all intellectual property rights including copyright, trademark and trade secret in the Functional Specifications and any changes, alterations or
            modifications thereto whether made by the Client or the Developer are and will remain in the Client. The Developer shall not sell, transfer, publish, disclose, display or otherwise
            make available the Functional Specifications, its constituent elements or copies thereof to any other person, firm, corporation or business entity and the Developer further agrees to
            secure and protect the Functional Specifications and all copies thereof in a manner consistent with the maintenance of the Clients rights therein and without limiting the generality
            of the foregoing, to take appropriate action by instruction or agreement with its officers, employees or agents who are permitted access to the Functional Specifications or copies
            thereof to satisfy its obligations hereunder.
        </li>
    </ul>

    <br />

    <h4>Confidential Information</h4>
    <p>
        The parties may wish, from time to time, in connection with work contemplated, to disclose confidential information to each other ("Confidential information"). Each party will safeguard
        such information in the same manner it would safeguard its own trade secrets to prevent the disclosure of any of the other party's Confidential Information to third parties for a period
        of six (6) years after the termination of this the project agreement, provided that the recipient party's obligation shall not apply to information that:
        <ul style="list-style-type: initial">
            <li>
                is not disclosed in writing or reduced to writing and so marked with an appropriate confidentiality legend within thirty (30) days of disclosure:
            </li>
            <li>
                is already in the client's possession at the time of disclosure thereof:
            </li>
            <li>
                is or later becomes part of the public domain through no fault of the client;
            </li>
            <li>
                is received from a third party having no obligations of confidentiality to the disclosing party
            </li>
            <li>
                is independently developed by the client party, or
            </li>
            <li>
                is required by law or regulation to be disclosed.
            </li>
        </ul>
    </p>
    <p>
        In the event that information is required to be disclosed, the party required to make disclosure shall notify the other to allow for whatever exclusions or exemptions may be available
        to it under such law or regulation
    </p>

    <br />

    <h4>Charges for Services</h4>
    <p>
        Charges for services to be provided by The Company are defined in the project quotation that the Client receives via e-mail or in written form. Quotations are valid for a
        period of 7 days. The Company reserves the right to alter or decline a quotation after expiry of the 7 days.
    </p>
    <p>
        Unless agreed otherwise with the Client, all business systems, websites or applications design or development services require an advance payment of a minimum of Fifty (50%) percent
        of the project quotation total before the work on any project will be started. The remaining Fifty (50%) percent of the project quotation
        total due upon completion of the work, prior to upload to the server or release of materials.
    </p>

    <br />

    <h4>Payment</h4>
    <p>
        Payment may be made via Visa, MasterCard, Diners or American Express credit cards or by bank transfer into The Company's bank account, the details of
        which will be provided on request or on Invoice(s)
    </p>
    <p>
        Invoice(s) will be provided by The Company upon completion but before publishing the live website. Invoices are normally sent via email; however, the Client
        may choose to receive hard copy invoices. Invoices are due upon receipt. Accounts that remain unpaid thirty (30) days after the date of the invoice will
        be assessed a service charge in the amount of the higher of one and one-half percent (1.5%) or R149 per month of the total amount due.
    </p>
    <p>
        Credit card transactions will be acquired for The Company via PayGate (Pty) Ltd who are the approved payment gateway for all South African Acquiring Banks.
        PayGate uses the strictest form of encryption, namely Secure Socket Layer 3 (SSL3) and no credit card details are stored on the website. Users may
        go to www.paygate.co.za to view their security certificate and security policy.
    </p>
    <p>
        Customer details will be stored by The Company separately from card details which are entered by the client on The Company’s secure site. For more details on
        PayGate refer to www.paygate.co.za
    </p>
    <p>
        The merchant outlet country at the time of presenting payment options to the cardholder is South Africa. Transaction currency is
        South African Rand (ZAR).
    </p>

    <br />

    <h4>Delivery Policy</h4>
    <ul style="list-style-type: initial">
        <li>
            <strong>Goods</strong>
            <p>
                Subject to availability and receipt of payment, requests will be processed within 7 days and delivery confirmed by way of courier. Invoice for products purchased,
                will be emailed to the client, this invoice should be kept for reference.
            </p>
        </li>
        <li>
            <strong>Functional Specifications</strong>
            <p>
                <strong>Delivery :</strong> The Developer hereby agrees to deliver the complete Functional Specifications to the Client for approval on or before the delivery date
                specified in the Development Schedule.
            </p>
            <p>
                <strong>Acceptance :</strong>
                <ul style="list-style-type: initial">
                    <li>
                        Following actual delivery to it of the complete Functional Specifications, the Client shall have a period of fourteen (14) days to either
                        <ul style="list-style-type: initial; padding-right: 50px">
                            <li>
                                Accept the Functional Specifications by notice in writing to the Developer
                            </li>
                            <li>
                                Reject the Functional Specifications by notice in writing to the Developer (specifying reasonable detail the reasons for rejection) and terminate the project, or
                            </li>
                            <li>
                                Reject the Functional Specifications as delivered and request specific clarifications, modifications or additions to the Functional Specifications as delivered.
                            </li>
                        </ul>
                    </li>
                    <li>
                        In event that the Client requests clarification, modifications or amendments to the Functional Specifications pursuant to the above mentioned paragraph, the Developer shall
                        have a  further period of thirty [30] days after receipt of the notice under the above mentioned paragraph or such longer period as may be specified in such notice in which
                        to deliver re-amended the Functional Specifications to the Client. Following such delivery, the customer shall have further fourteen (14) days period to either accept the
                        Functional Specifications or to reject the Functional Specifications and terminate the project, or reject the Functional Specifications and request further clarification,
                        modifications or additions to the Functional Specifications
                    </li>
                    <li>
                        If the Customer again request further clarification, modification  or amendments to the functional specifications pursuant to above mentioned paragraph, the Developer shall
                        have a further period of thirty [30] days after receipt of the notice under the above mentioned paragraph or such longer period as may be specified in such notice in which to
                        deliver re-amended Functional Specifications to the Client. Following such delivery, the customer shall have further fourteen (14) days period to either accept the Functional
                        Specifications or to reject the Functional Specifications and terminate the project
                    </li>
                    <li>
                        Any approval, rejection or request of the Customer under this paragraph shall be in writing, shall be in the sole subjective discretion of the Client and, if not given by
                        the Client with the required evaluation periods, then the Client shall be deemed to have accepted the Functional Specifications.
                    </li>
                </ul>

            </p>
        </li>
    </ul>


    <br />

    <h4>Client Review</h4>
    <p>
        The Company will provide the Client with an opportunity to review the appearance and content of the website after development phase and once the
        overall website/application is completed. At the completion of the project, such materials will be deemed to be accepted and approved unless the Client
        notifies The Company otherwise within fourteen (14) days of the date the materials are made available to the Client.
    </p>

    <br />

    <h4>Turnaround Time and Content Control</h4>
    <p>
        The Company will install and publicly post or supply the Client's business system, website or application by the date specified in the project proposal, or at date agreed
        with Client upon The Company receiving initial payment, unless a delay is specifically requested by the Client and agreed to by The Company.
    </p>
    <p>
        In return, the Client agrees to delegate a single individual as a primary contact to aid The Company with progressing the commission in a satisfactory and
        expedient manner.
    </p>
    <p>
        During the project, The Company will require the Client to provide content, text, images, movies and sound files or whatever else is needed
    </p>

    <br />

    <h4>Failure to provide required website content</h4>
    <p>
        The Company is a business, to remain efficient we must ensure that services we render is carried out at the arranged time. On occasions The Company may
        have to reject offers for projects and enquiries to ensure that your work is completed at the arranged time.
    </p>
    <p>
        This is why we ask that you provide all the required information in advance. On any occasion where progress cannot be made with your project(s) because we have
        not been given the required information in the agreed time frame, and we are delayed as result, we reserve the right to impose a surcharge of up to 25% and add
        the time spend waiting, to the release date of the project. If your project involves Search Engine Optimisation we need the text content for your site in
        advance so that the SEO can be planned and completed efficiently.
    </p>
    <p>
        If you agree to provide us with the required information and subsequently fail to do within one week of project commencement we reserve the right to close
        the project and the balance remaining becomes payable immediately. Simply put, all the above condition says is do not give us the go ahead to start until
        you are ready to do so.
    </p>
    <p>
        NOTE: Text content should be delivered as a Microsoft Word, Pdf, email (or similar) document with the pages in the supplied document representing the content
        of the relevant pages/windows on your website/application. These pages should have the same titles as the agreed website/application pages/windows. <a href="mailto:info@iqtechsolutions.co.za">Contact us </a>
        if you need clarification on this.
    </p>

    <br />

    <h4>Additional Expenses</h4>
    <p>
        The Client agrees to reimburse The Company for any additional expenses necessary for the completion of the work. Examples would be purchase of special fonts,
        stock photography etc.
    </p>

    <br />

    <h4>Web Browsers & Operating Systems</h4>
    <p>
        The Company makes every effort to ensure websites/application are designed to be viewed/used by the majority of users. Websites are designed to work with the most
        popular current browsers (e.g. Firefox, Internet Explorer 9 & 10, Google Chrome, etc.) and applications with the most popular operating systems(e.g. Windows, Android, Ios, etc).
        The Client agrees that The Company cannot guarantee correct functionality with all browser software across different operating systems.
    </p>
    <p>
        The Company cannot accept responsibility for web pages which do not display acceptably in new versions of browsers or Applications that do not work correctly on
        operating systems released after the website/application have been designed/developed and handed over to the Client. As such, The Company reserves the right to quote
        for any work involved in changing the website/application design or website/application code for it to work with updated browser software or operating systems.
    </p>

    <br />

    <h4>Default</h4>
    <p>
        Accounts unpaid thirty (30) days after the date of invoice will be considered in default. If the Client in default maintains any information or files on
        The Company's Web space or Servers, The Company will, at its discretion, remove all such material from its web/server space. The Company is not responsible
        for any loss of data incurred due to the removal of such services or information. Removal of such material does not relieve the Client of the obligation to
        pay any outstanding charges assessed to the Client's account. Payments returned for any reason whatsoever will be assessed a return charge of R149 and the
        Client's account will immediately be considered to be in default until full payment is received. Clients with accounts in default agree to pay
        The Company reasonable expenses, including legal fees and costs for collection by third-party agencies, incurred by The Company in enforcing these
        Terms and Conditions.
    </p>

    <br />

    <h4>Termination</h4>
    <p>
        Termination of services by the Client must be requested in a written notice or on our Site and will be effective 30 days after receipt of such notice. E-mail or telephone
        requests for termination of services will not be honoured until and unless confirmed in writing or on our Site. The Client will be invoiced for design/development work
        completed to the date of first notice of cancellation for payment in full within thirty (30) days.
    </p>

    <br />

    <h4>Returns, Refunds & Cancellations</h4>
    <p>
        The Company will not refund deposits for work already performed on The Clients design projects or hosting fees/web administration agreements that have been
        paid in advance. We guarantee to honor our obligations of service as we expect our clients to honor theirs.
    </p>
    <p>
        The provision of goods and services by The Company is subject to availability. In cases of unavailability, The Company will refund the client in full within
        30 days. Cancellation of orders by the client will attract the higher of 10% administration fee or R149.00 of total due.
    </p>

    <br />

    <h4>Indemnity</h4>
    <p>
        All The Comapny's services may be used for lawful purposes only. You agree to indemnify and hold The Company, any agent of The Company, any third party supplier
        of The Company harmless from any claims or losses resulting from Your use of The Comapny's service(s) that damages you or any other party.
    </p>

    <br />

    <h4>Renting</h4>
    <p>
        Any service(s), website or application rented by The Client from The Company will remain the property of The Company in its entirety.
    </p>

    <br />

    <h4>Proprietary Rights</h4>
    <p>
        The content, arrangement, organization, and design of this Site are protected under the copyright, trademark, and related intellectual proprietary right laws.
        You do not acquire any ownership in or to any such content, arrangement, organization, or design by or through Your access to this Site or use of The Company's
        services unless supplied by you. Any reproduction, duplication, copy, sale, resale, or other exploitation of the content, arrangement, organization, and design o
        f this Site is strictly prohibited.
</p>

<br />

<h4>Scope and Retainer</h4>
<p>
    The Developer expressly acknowledges that the contracted services to be provided by it to the Client extend solely to the development and production of the Functional Specifications as 
    provided, and the use of the Functional Specifications or any components thereof by the Client before or after delivery shall be that the sole discretion of the Client, including, without 
    limiting the generality of the foregoing, the engagement by the Client of other suppliers for the supply of the computer system website or application to be developed from the Functional 
    Specifications. Furthermore, the engagement by the Client of the Developer under this agreement shall not in any way be take to imply that the Client is bound to use the services of the 
    Developer of other purposes including those related to the computer system, website or application.
</p>

<br />

    <h4>Copyright</h4>
    <p>
        The Client retains the copyright to data, files and graphic logos provided by the Client, and grants The Company the rights to publish and use such material.
        The Client must obtain permission and rights to use any information or files that are copyrighted by a third party. The Client is further responsible for
        granting The Company permission and rights for use of the same and agrees to indemnify and hold harmless The Company from any and all claims resulting from
        the Client's negligence or inability to obtain proper copyright permissions. A contract for website design and/or placement shall be regarded as a guarantee
        by the Client to The Company that all such permissions and authorities have been obtained. Evidence of permissions and authorities may be requested.
    </p>

    <br />

    <h4>Standard Media Delivery</h4>
    <p>
        Unless otherwise specified in the project quotation, this Agreement assumes that any text will be provided by the Client in electronic format (ASCII text files
        delivered on flash drive or via e-mail or FTP) and that all photographs and other graphics will be provided physically in high quality print suitable for
        scanning or electronically in .gif, .jpeg, .png or .tiff format. Although every reasonable attempt shall be made by The Company to return to the Client any
        images or printed material provided for use in creation of the Client's website/application, such return cannot be guaranteed.
    </p>

    <br />

    <h4>Design Credit</h4>
    <p>
        A link to The Company will appear in either small type or by a small graphic at the bottom of the Client's website. If a graphic is used, it will be designed
        to fit in with the overall site design. If a client requests that the design credit be removed, a nominal fee of 10% of the total development charges will
        be applied. When total development charges are less than R5000, a fixed fee of R500 will be applied. The Client also agrees that the website developed for
        the Client may be presented in The Company's portfolio.
    </p>

    <br />

    <h4>Access Requirements</h4>
    <p>
        If the Client's website/application is to be installed on a third-party server, The Company must be granted temporary read/write access to the Client's
        storage directories which must be accessible via FTP. Depending on the specific nature of the project, other resources might also need to be configured
        on the server.
    </p>

    <br />

    <h4>Post-Placement Alterations</h4>
    <p>
        The Company cannot accept responsibility for any alterations caused by a third party occurring to the Client's website/application once installed. Such alterations include,
        but are not limited to additions, modifications or deletions.
    </p>

    <br />

    <h4>Domain Names</h4>
    <p>
        The Company may purchase domain names on behalf of the Client. Payment and renewal of those domain names is the responsibility of the Client. The loss,
        cancellation or otherwise of the domain brought about by non or late payment is not the responsibility of The Company. The Client should keep a record of
        the due dates for payment to ensure that payment is received in good time.
    </p>

    <br />

    <h4>General</h4>
    <p>
        These Terms and Conditions supersede all previous representations, understandings or agreements. The Client's signature below or payment of an advance fee
        constitutes agreement to and acceptance of these Terms and Conditions. Payment online is an acceptance of our terms and conditions. Use of The Company's Site
        or Services is an accptance of our terms and conditions.
    </p>

    <br />

    <h4>Governing Law</h4>
    <p>
        This Agreement shall be governed by South African Law.
    </p>

    <br />

    <h4>Liability</h4>
    <p>The Company hereby excludes itself, its Employees and or Agents from all and any liability from:</p>
    <ul class="list1">
        <li>Loss or damage caused by any inaccuracy;</li>
        <li>Loss or damage caused by omission;</li>
        <li>Loss or damage caused by delay or error, whether the result of negligence or other cause in the production of the web site;</li>
        <li>Loss or damage to clients' artwork/photos, supplied for the site. Immaterial whether the loss or damage results from negligence or otherwise.</li>
    </ul>
    <p>
        The entire liability of The Company to the Client in respect of any claim whatsoever or breach of this Agreement, whether or not arising out of negligence,
        shall be limited to the charges paid for the Services under this Agreement in respect of which the breach has arisen.
    </p>
    <p>
        IN NO EVENT SHALL THE COMPANY BE RESPONSIBLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR PUNITIVE DAMAGES ARISING OUT OF YOUR
        ACCESS TO OR USE OF THIS SITE, OR YOUR USE OF THE COMPANY'S SERVICES. TO THE FULLEST EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF THE COMPANY FOR ANY CLAIM
        ARISING OUT OF YOUR ACCESS TO OR USE OF THIS SITE, OR YOUR USE OF THE COMPANY'S SERVICES-WHETHER IN CONTRACT, WARRANTY, TORT, STRICT LIABILITY, OR OTHERWISE-IS
        LIMITED TO THE AMOUNT PAID BY YOU-IF ANY-FOR YOUR ACCESS TO OR USE OF THIS SITE, OR YOUR USE OF THE COMPANY'S SERVICES.
    </p>

    <br />

    <h4>Interpretation</h4>
    <ul class="list1">
        <li>
            The Company reserves the right to terminate a project with The Client at any time without prior notification if it finds the Client in breach of these terms
            and conditions. The Company shall be the sole arbiter in deciding what constitutes a breach. No refunds are given in such a situation.
        </li>
        <li>
            This agreement shall be governed by the laws of South Africa, which shall claim venue and jurisdiction for any legal motion or claim arising from this
            agreement. This agreement is void where prohibited by law.
        </li>
        <li>
            Where one or more terms of this contract are held to be void or unenforceable for whatever reason, any other terms of the contract not so held will remain
            valid and enforceable by law.
        </li>
        <li>
            All matters pursuant to this agreement are governed by South African Law and are under exclusive jurisdiction of the South African Courts.
        </li>
        <li>
            The Company reserves the right to alter these Terms and Conditions at any time without prior notice, the latest terms and conditions can be found at the Site.
        </li>
    </ul>

    <br />

    <h4>Severability</h4>
    <p>
        In the event any one or more of the provisions of this Agreement shall be held to be invalid, illegal or unenforceable, the remaining provisions of this
        Agreement shall be unimpaired and the Agreement shall not be void for this reason alone. Such invalid, illegal or unenforceable provision shall be replaced
        by a mutually acceptable valid, legal and enforceable provision, which comes closest to the intention of the parties underlying the invalid,
    </p>

    <br />

    <h4>Privacy Policy</h4>
    <p>
        Please see our <a href=@Url.Action("Privacy", "Home")>Privacy Policy</a>
    </p>

    <br />

    <h4>Registrant Education and Domain Name Registrants Rights</h4>
    <ul>
        <li>For more information about Registrant Education, please click here: <a href="http://www.icann.org/en/resources/registrars/registrant-rights/educational" target="_blank">http://www.icann.org/en/resources/registrars/registrant-rights/educational</a></li>
        <li>For more information about Domain Name Registrant Rights, please click here: <a href="http://www.icann.org/en/resources/registrars/registrant-rights/benefits" target="_blank">http://www.icann.org/en/resources/registrars/registrant-rights/benefits</a></li>
    </ul>

    <br />

    <h4>Company information</h4>
    <p>
        This website is run by @ApplicationConfiguration.CompanyName based in South Africa trading as IQ Tech Solutions and with registration number @ApplicationConfiguration.RegistrationNr and 1 Director with 2 Shareholders.
    </p>

    <br />

    <h4>Abuse</h4>
    <p>
        For any Abuse of any Nature, please report to : <a href="mailto:@ApplicationConfiguration.AbuseEmailAddress">@ApplicationConfiguration.AbuseEmailAddress</a>
    </p>

    <br />

    <h4>The Company Contact Details</h4>
    <p>
        Email : <a href="mailto:@ApplicationConfiguration.InfoEmailAddress">@ApplicationConfiguration.InfoEmailAddress</a>
    </p>
    <p>Tel : @ApplicationConfiguration.PhoneNr</p>


</div>
</div>
</div>
</div>