@model FaqAddEditModel

@{
    ViewData["Title"] = $"Edit {Model.Entity.Question}";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entity.Question" class="control-label"></label>
                <input asp-for="Entity.Question" class="form-control" />
                <span asp-validation-for="Entity.Question" class="text-danger"></span>
            </div>
            <h3 class="m-t-10">Answers</h3>
            <hr class="m_bottom_10">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table style="width:100%" id="AnswersList">
                            @if (Model.Entity.Answers.Any())
                            {
                                foreach (var item in Model.Entity.Answers)
                                {
                                    <tr id="row_@item.Id" class="row_@item.Id">
                                        <td>@Html.Raw(@item.Answer)</td>
                                        <td style="width: 100px;">
                                            <a href="javascript:;" onclick="ShowEditAnswerModal('@item.Id')" style="padding-right: 5px;"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:;" onclick="ShowDeleteAnswerModal('@item.Id')"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr id="row_no_data">
                                    No answers available!
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <hr class="m_bottom_10">
            <input type="hidden" asp-for="Entity.ApplicationUserId" />
            <input type="hidden" asp-for="Entity.Id" />
            <div class="form-group">
                <input name="finnish" type="submit" value="Submit" class="btn btn-primary" />
                <input name="main" type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:;" onclick="ShowCreateAnswerModel('@Model.Entity.Id')" class="btn btn-info" style="float: right">Create Answer</a>
                <a asp-area="Faqs" asp-controller="Home" asp-action="List" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-message fade" id="ModalPlaceHolder"></div>


@section Scripts
    {
    <script type="text/javascript">
        
        function ShowCreateAnswerModel(ff) {

            var url = "/Faqs/Answers/Create?parentId=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }

        function ShowEditAnswerModal(ff) {

            var url = "/Faqs/Answers/Edit?id=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }

        function ShowDeleteAnswerModal(ff) {

            var url = "/Faqs/Answers/Delete?id=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }

    </script>
}