
@model IndexModelBase<Product>

@{
    ViewData["Title"] = "Compare Products";
    var productsToCompare = Model.All.Take(4);
}



<div class="row">
    <!--Middle Part Start-->
    <div id="content" class="col-sm-12">
        <h2 class="title">Product Comparison</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td colspan="4"><strong>Product Details</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Product</td>
                        @foreach (var item in productsToCompare)
                        {
                            <td><a asp-area="Products" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
                        }
                    </tr>
                    <tr>
                        <td>Image</td>
                        @foreach (var item in productsToCompare)
                        {
                            <td class="text-center"><img class="img-thumbnail" title="@item.Name" alt="@item.Name" width="100px" src="@item.GetImage().GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"],FrameworkDI.Configuration["Placeholders:CoverImage"])"></td>
                        }
                    </tr>
                    <tr>
                        <td>Price</td>
                        @foreach (var item in productsToCompare)
                        {
                            <td>
                                @if (item.Discount > 0)
                                {
                                    <div class="price">
                                        <span class="price-new">R @item.DiscountedPrice</span>
                                        <span class="price-old">R @item.PriceIncl</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="price">
                                        <span class="price-new">R @item.PriceIncl</span>
                                    </div>
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Model</td>
                        @foreach (var item in productsToCompare)
                        {
                            <td>@item.ModelNr</td>
                        }
                    </tr>
                    <tr>
                        <td>Brand</td>
                        @foreach (var item in productsToCompare)
                        {
                            <td>
                                @foreach (var brand in item.Brands)
                                {
                                    <span>brand.Brand.Name</span>
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Availability</td>
                    @foreach (var item in productsToCompare)
                    {
                         if (item.QtyInStock > 0)
                         {
                             <td>In Stock</td>
                         }
                         else
                         {
                             <td>Pre-Order</td>
                         }
                    }
                    </tr>
                    <tr>
                        <td>Rating</td>
                        @foreach (var item in productsToCompare)
                        {
                            <td class="rating">
                                <div class="rating-box">
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                </div>
                                Based on 0 reviews.
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Summary</td>
                        @foreach (var item in productsToCompare)
                        {
                            <td class="description">@item.ShortDescription</td>
                        }
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td></td>
                        @foreach (var item in productsToCompare)
                        {
                            <td>
                                <input type="button" onClick="" class="btn btn-primary btn-block" value="Add to Cart">
                                <a class="btn btn-danger btn-block" href="#">Remove</a>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Middle Part End -->

</div>

