
@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee List";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Names)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Featured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="width:100px" id="preview" class="img-thumbnail" title="@item.Names.GetFullNames()" alt="@item.GetImage(ImageType.Profile)?.FileName" src="@item.GetImage(ImageType.Profile).GetPath()">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Featured)
                </td>
                <td style="width: 100px">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" style="padding-left:5px"><i class="fa fa-eye"></i></a>
                    <a href="javascript:;" onclick="ShowDeleteModal('@item.Id')" style="padding-left:5px"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="text-right">
    <a asp-area="Employees" asp-controller="Home" asp-action="Create" class="btn btn-danger btn-block">Create New Employee</a>
</p>


@section Scripts
{
    <script>
        function ShowDeleteModal(ff) {

            var url = "/Employees/Home/Delete?id=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }
    </script>
}
