@model Product

@{
    ViewData["Title"] = $"Delete {Model.Name}";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <div class="col-md-4">
        <div class="form-group">
            <img id="preview" style="width: 100%" src="@Model.GetImage().GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"],FrameworkDI.Configuration["Placeholders:CoverImage"])" alt="" />
        </div>
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Barcode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Barcode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CostExcl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CostExcl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Vat)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Vat)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PriceIncl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PriceIncl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Featured)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Featured)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="List" class="btn btn-danger">Back to List</a>
        </form>
    </div>
</div>
