@using IQTechSolutions.Filing.Extensions
@using IQTechSolutions.Base.Extensions

@model ProductDetailsPageModel
@{
    ViewData["Title"] = Model.Product.Name + " Details";
}

<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="product">
                    <div class="col-md-5">
                        <div class="product-image">
                            <div class="zoom-gallery">
                                <a href="#" title="@Model.Product.Name"><img src="@Model.Product.GetImage().GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"],FrameworkDI.Configuration["Placeholders:CoverImage"])" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="product-summary">
                            <h2 class="product-title">@Model.Product.Name</h2>
                            <div class="product_review">
                                <ul class="review_text list-inline">
                                    <li>
                                        <div title="Rated 4.50 out of 5" class="star-rating"><span style="width: 90%;">4.50</span></div>
                                    </li>
                                    @*<li><a asp-area="" asp-controller="Home" asp-action="ComingSoon"><span>@Model.Product.Reviews.Count</span>Reviews</a></li>*@
                                    <li><a asp-area="" asp-controller="Home" asp-action="ComingSoon">Add reviews</a></li>
                                </ul>
                            </div>
                            <div class="price">
                                @if (Model.Product.Discount > 0)
                                {
                                    <del><span class="amount">R @Model.Product.PriceIncl</span></del>
                                    <ins><span class="amount">R @Model.Product.DiscountedPrice</span></ins>
                                }
                                else
                                {
                                    <ins><span class="amount">R @Model.Product.PriceIncl</span></ins>
                                }
                            </div>
                            <div class="short-description">
                                <p>@Model.Product.ShortDescription</p>
                            </div>
                            <div class="tags"><strong>SKU:</strong> R @Model.Product.Barcode</div>
                            @if (!string.IsNullOrEmpty(Model.Tags))
                            {
                                <div class="tags">
                                    <strong>Tags:</strong>
                                    @foreach (var item in StringExtensions.GetDelimiterList(Model.Tags, ","))
                                    {
                                        <a href="#">@item</a> <span> </span>
                                    }
                                </div>
                            }
                            <div class="cart-form-wrapper mt-30">
                                <form enctype="multipart/form-data" method="post" class="cart">
                                    <input type="hidden" value="productID" name="add-to-cart">
                                    <table class="table variations no-border">
                                        <tbody>
                                            <tr>
                                                <td class="name">Amount</td>
                                                <td class="value">
                                                    <div class="quantity buttons_added">
                                                        <input type="button" class="minus" value="-">
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                                        <input type="button" class="plus" value="+">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a class="single_add_to_cart_button btn btn-theme-colored" href="javascript:;" onclick="cart.add('@Model.Product.Id', '1');">Add to cart</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="horizontal-tab product-tab">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                                <li><a href="#tab2" data-toggle="tab">Additional Information</a></li>
                                @*@if (Model.Product.Reviews.Any())
                                {
                                    <li><a href="#tab3" data-toggle="tab">Reviews</a></li>
                                }*@
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <h3>Product Description</h3>
                                    <p>@Html.Raw(Model.Product.Description)</p>

                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <h3>Additional Info</h3>
                                    <p>@Html.Raw(Model.Product.AdditionalInfo)</p>
                                </div>
                                @*@if (Model.Product.Reviews.Any())
                                {
                                    <div class="tab-pane fade" id="tab3">
                                        <div class="reviews">
                                            <ol class="commentlist">
                                                @foreach (var item in Model.Product.Reviews)
                                                {
                                                    <li class="comment">
                                                        <div class="media">
                                                            <a href="#" class="media-left"><img class="img-circle" alt="" src="@item.ApplicationUser.CoverImage.GetImage(ImageSettings.StandardImage)" width="75"></a>
                                                            <div class="media-body">
                                                                <ul class="review_text list-inline">
                                                                    <li>
                                                                        <div title="Rated 5.00 out of 5" class="star-rating">
                                                                            <span style="width: 100%;">5.00</span>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <h5 class="media-heading meta"><span class="author">@item.ApplicationUser.DisplayName</span> – @item.Created.ToLongDateString():</h5>
                                                                    </li>
                                                                </ul>
                                                                @Html.Raw(@item.CommentString)
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ol>
                                        </div>
                                    </div>
                                }*@
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.FeaturedProducts.Any())
                {
                    <div class="col-md-12 mt-30">
                        <h3 class="line-bottom">Related Products</h3>
                        <div class="row multi-row-clearfix">
                            <div class="products related">
                                @foreach (var item in Model.FeaturedProducts)
                                {
                                    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                                        <div class="product pb-0">
                                            @if (item.Discount > 0)
                                            {
                                                <span class="tag-sale">Sale!</span>
                                            }

                                            <div class="product-thumb">
                                                <img alt="" src="@item.GetImage().GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"],FrameworkDI.Configuration["Placeholders:CoverImage"])" class="img-responsive img-fullwidth">
                                                <div class="overlay">
                                                    <div class="btn-add-to-cart-wrapper">
                                                        <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="javascript:;" onclick="cart.add('@item.Id', '1');">Add To Cart</a>
                                                    </div>
                                                    <div class="btn-product-view-details">
                                                        <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" asp-area="Products" asp-controller="Home" asp-action="Details" asp-area-id="@item.Id">View detail</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-details text-center bg-lighter pt-15 pb-10">
                                                <a asp-area="Products" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"><h5 class="product-title mt-0">@item.Name</h5></a>
                                                <div class="star-rating" title="Rated 3.50 out of 5">
                                                    <span style="width: 67%;">3.50</span>
                                                </div>
                                                <div class="price">
                                                    @if (item.Discount > 0)
                                                    {
                                                        <del><span class="amount">R @item.PriceIncl</span></del>
                                                        <ins><span class="amount">R @item.DiscountedPrice</span></ins>
                                                    }
                                                    else
                                                    {
                                                        <ins><span class="amount">R @item.PriceIncl</span></ins>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>