@model Order

@{
    ViewData["Title"] = $"Order {Model.OrderNr} Details";
}

<div class="row">
    <!--Middle Part Start-->
    <div id="content" class="col-sm-9">
        <h2 class="title">Order Information</h2>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td colspan="2" class="text-left">Order Details</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 50%;" class="text-left">
                        <b>Order ID:</b> #@Model.OrderNr
                        <br>
                        <b>Date Added:</b> @Model.Created.ToLongDateString()
                    </td>
                    <td style="width: 50%;" class="text-left">
                        <b>Payment Method:</b> @Model.PaymentType
                        <br>
                        <b>Shipping Method:</b> @Model.DeliveryMethod
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td style="width: 50%; vertical-align: top;" class="text-left">Payment Address</td>
                    <td style="width: 50%; vertical-align: top;" class="text-left">Shipping Address</td>
                </tr>
            </thead>
            @*<tbody>
                <tr>
                    <td class="text-left">
                        @Model.ApplicationUser.DisplayName
                        <br>@Model.ApplicationUser.Addresses.FirstOrDefault(c => c.Default)?.AddressLine1
                        <br>@Model.ApplicationUser.Addresses.FirstOrDefault(c => c.Default)?.Suburb
                        <br>@Model.ApplicationUser.Addresses.FirstOrDefault(c => c.Default)?.City
                        <br>@Model.ApplicationUser.Addresses.FirstOrDefault(c => c.Default)?.PostalCode
                    </td>
                    <td class="text-left">
                        @Model.ApplicationUser.DisplayName
                        <br>@Model.ApplicationUser.Addresses.FirstOrDefault(c => c.Default)?.AddressLine1
                        <br>@Model.ApplicationUser.Addresses.FirstOrDefault(c => c.Default)?.Suburb
                        <br>@Model.ApplicationUser.Addresses.FirstOrDefault(c => c.Default)?.City
                        <br>@Model.ApplicationUser.Addresses.FirstOrDefault(c => c.Default)?.PostalCode
                    </td>
                </tr>
            </tbody>*@
        </table>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="text-left">Product Name</td>
                        <td class="text-left">Barcode</td>
                        <td class="text-right">Quantity</td>
                        <td class="text-right">Price</td>
                        <td class="text-right">Total</td>
                        <td style="width: 20px;"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td class="text-left">@item.Product.Name </td>
                            <td class="text-left">@item.Product.Barcode</td>
                            <td class="text-right">@item.Quantity</td>
                            <td class="text-right">R @item.UnitPriceIncl</td>
                            <td class="text-right">R @item.TotalPriceIncl</td>
                            <td style="white-space: nowrap;" class="text-right">
                                <a class="btn btn-primary" title="" data-toggle="tooltip" href="#" data-original-title="Reorder"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-danger" title="" data-toggle="tooltip" href="return.html" data-original-title="Return"><i class="fa fa-reply"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-right">
                            <b>Sub-Total</b>
                        </td>
                        <td class="text-right">R @Model.TotalIncl</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-right">
                            <b>Flat Shipping Rate</b>
                        </td>
                        <td class="text-right">R @Model.ShippingTotal</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-right">
                            <b>Payment Fees</b>
                        </td>
                        <td class="text-right">R @Model.PaymentFees</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-right">
                            <b>Discount</b>
                        </td>
                        <td class="text-right">R @Model.Discount</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-right">
                            <b>VAT (20%)</b>
                        </td>
                        <td class="text-right">R @Model.Vat</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-right">
                            <b>Total</b>
                        </td>
                        <td class="text-right">R @Model.GrandTotal</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <h3>Order History</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td class="text-left">Date Added</td>
                    <td class="text-left">Status</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var movement in Model.OrderMovements)
                {
                    <tr>
                        <td class="text-left">@movement.Created.ToShortDateString()</td>
                        <td class="text-left">@movement.OrderStatus</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="buttons clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" href="#">Continue</a>
            </div>
        </div>



    </div>
    <!--Middle Part End-->
    <!--Right Part Start -->
    <aside class="col-sm-3 hidden-xs" id="column-right">
        <h2 class="subtitle">Account</h2>
        <div class="list-group">
            <ul class="list-item">
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="register.html">Register</a>
                </li>
                <li>
                    <a href="#">Forgotten Password</a>
                </li>
                <li>
                    <a href="#">My Account</a>
                </li>
                <li>
                    <a href="#">Address Books</a>
                </li>
                <li>
                    <a href="wishlist.html">Wish List</a>
                </li>
                <li>
                    <a href="#">Order History</a>
                </li>
                <li>
                    <a href="#">Downloads</a>
                </li>
                <li>
                    <a href="#">Reward Points</a>
                </li>
                <li>
                    <a href="#">Returns</a>
                </li>
                <li>
                    <a href="#">Transactions</a>
                </li>
                <li>
                    <a href="#">Newsletter</a>
                </li>
                <li>
                    <a href="#">Recurring payments</a>
                </li>
            </ul>
        </div>
    </aside>
    <!--Right Part End -->
</div>

