@{
    Layout = "Layouts/_LayoutDefault";
}

@section Styles
    {
    <!--page injected css-->
    @RenderSection("Styles", required: false)
}


    <div class="container-fluid" id="containerHolder">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">@ViewData["Title"] <small> - IQ Tech Solutions ClientZone</small></h2>
                    <div class="row">
                        <partial name="Breadcrumbs/_AdminBreadcrumPartial" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row flex-row">
            <div class="col-12">

                @RenderBody()

            </div>
        </div>
    </div>
    <!-- Begin Page Footer-->
    <footer class="main-footer">
        <div class="row">
            <div class="col-lg-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
                <p class="text-gradient-02">&copy; Copyright @DateTime.Now.Year - Created by <a href="https://www.iqtechsolutions.co.za" style="display: inline" target="_blank">IQ Tech Solutions</a> - Powered by DotNet Framework</p>
            </div>
        </div>
    </footer>
   

@section Scripts
        {
    @RenderSection("Scripts", required: false)
}
