<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Favicons -->

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    @*<link rel="manifest" href="/img/favicon/manifest.json">*@
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Primary Meta Tags -->
    <title>Olympia - @ViewData["Title"]</title>
    <meta name="title" content="Olympia - Innovative Software Development, Testing and Products">
    <meta name="description" content="If you`re looking for custom software development, testing, implementation and project management, we`re the team that you should be talking to continuous performance management, software development, performance management system, digital project management">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://olympiahdpreview.iqtechsolutions.co.za/">
    <meta property="og:title" content="Olympia - Innovative Software Development, Testing and Products">
    <meta property="og:description" content="If you`re looking for custom software development, testing, implementation and project management, we`re the team that you should be talking to continuous performance management, software development, performance management system, digital project management">
    <meta property="og:image" content="http://olympiahdpreview.iqtechsolutions.co.za/images/Rectangular_Olympia_Logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://olympiahdpreview.iqtechsolutions.co.za/">
    <meta property="twitter:title" content="Olympia - Innovative Software Development, Testing and Products">
    <meta property="twitter:description" content="If you`re looking for custom software development, testing, implementation and project management, we`re the team that you should be talking to continuous performance management, software development, performance management system, digital project management">
    <meta property="twitter:image" content="http://olympiahdpreview.iqtechsolutions.co.za/images/Rectangular_Olympia_Logo.png">

    <meta name="author" content="Novaly">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="If youre looking for custom software development, testing, implementation and project management, we&#x2019;re the team that you should be talking to">
    <meta name="keywords" content="continuous performance management, software development, performance management system, digital project management" />
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">


    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
<<<<<<< HEAD

    <script>
        //cancel = function () {
        //    window.open('/CaseStudies/Home/Index', "PopupWindow", 'width=1000px,height=500px, bottom=20px,left=20px');
        //}
        $("#cancel").click(function () {
            //this will find the selected website from the dropdown
            var go_to_url = $("#websites").find(":selected").val();

            //this will redirect us in same window
            document.location.href = go_to_url;
        });
    </script>
=======
<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> origin/Olympia-Map-Model-Completed
   
=======
    


>>>>>>> Stashed changes
=======
    


>>>>>>> Stashed changes
    @RenderSection("Styles", required: false)


</head>
<body>
    <!-- Preloader Start -->
    <div class="preloader"></div>

    @Html.Partial("Headers/Default")

    @RenderBody()
    
    @Html.Partial("Footers/Default")

    <div class="modal modal-message fade" id="CropModal" data-backdrop="static" data-keyboard="false"></div>
    <div class="modal modal-message fade" id="ModalPlaceHolder"></div>

    <!-- BACK TO TOP SECTION -->
    <div class="back-to-top bg-gradient-color">
        <i class="fab fa-angle-up"></i>
    </div>

    <!-- Integrated important scripts here -->
    <script src="/js/jquery.v1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    @*<script src="/js/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>*@
    @*<script src="/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>*@

    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&callback=initMap&libraries=&v=weekly"
            async></script>*@
    <script src="/js/jquery-core-plugins.js"></script>
    <script src="/js/main.js"></script>
    @*<script src="/js/app-forms.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
