@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">



    <!--<table class="table">
        <thead style="position: relative; text-align: center;align-content: center;justify-content: center;  padding-left:30px;">
            Form Submission
        </thead>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>-->
    @*<th>
            @Html.DisplayNameFor(model => model.CellNr)
        </th>*@
    <!--<th>
        @Html.DisplayNameFor(model => model.Subject)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Content)
    </th>-->
    @*<th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatus)
        </th>*@
    <!--<th></th>
        </tr>
    </thead>
    <tbody>
       @foreach  (var item in Model)
        {
            <tr id="row_@item.Id" class="row_@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>-->
    <!-- <td>
            @Html.DisplayFor(modelItem => item.CellNr)
        </td>
    <!--<td>
        @Html.DisplayFor(modelItem => item.Subject)
    </td>-->
    >
    <!-- <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>--<td>
        @Html.DisplayFor(modelItem => item.Priority)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketStatus)
    </td>*@
    <!--<td>
                            <a asp-action="Details" asp-route-id="@item.Id" style="padding-right:10px" class="btn btn-primary btn-circle">Reply</a>
                            <a asp-action="Details" asp-route-id="@item.Id" style="padding-right: 10px" class="btn btn-primary btn-circle"><i class="fa fa-eye"></i></a>
                            <a href="javascript:;" onclick="ShowDeleteModal('@item.Id')" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>-->
    *@
