@using Iqt.Base.Interfaces
@model BlogPostAddEditModel
@inject IApplicationConfiguration Configuration

@{
    ViewData["Title"] = "Create";
}

@section Styles
{
    <link href='~/css/summernote.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/css/bs-filestyle.css">
}
<form asp-area="Blog" asp-controller="Home" asp-action="Create" enctype="multipart/form-data" method="post" style="padding-bottom: 50px;">
    <input type="hidden" asp-for="Entity.Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="previewd" style="overflow: hidden">
                    <img id="preview" style="width: 100%" src="@Configuration.ImageDefaultPlaceholder" alt="" />
                </div>
                <input asp-for="CoverUpload" class="form-control" onchange="loadFile(event)" type="file" />
                <a for="coverUpload" onclick="getImageFile()" class="btn btn-warning btn-block btn-sm">Edit Profile Image</a>
                <input type="hidden" asp-for="CoverCropSettings.X" />
                <input type="hidden" asp-for="CoverCropSettings.Y" />
                <input type="hidden" asp-for="CoverCropSettings.Width" />
                <input type="hidden" asp-for="CoverCropSettings.Height" />
                <input type="hidden" asp-for="CoverCropSettings.Rotate" />
                <input type="hidden" asp-for="CoverCropSettings.ScaleX" />
                <input type="hidden" asp-for="CoverCropSettings.ScaleY" />
            </div>
            @*<div class="form-group">
                <label asp-for="AudioUpload" class="control-label"></label>
                <input asp-for="AudioUpload" class="form-control" />
                <span asp-validation-for="AudioUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUpload" class="control-label"></label>
                <input asp-for="VideoUpload" class="form-control" />
                <span asp-validation-for="VideoUpload" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" placeholder="Please add author name if this is a quote" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">

            <div class="form-group">
                <label asp-for="Entity.Title" class="control-label"></label>
                <input asp-for="Entity.Title" class="form-control" />
                <span asp-validation-for="Entity.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.Description" class="control-label"></label>
                <textarea asp-for="Entity.Description" class="form-control"></textarea>
                <span asp-validation-for="Entity.Description" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Entity.Featured" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Entity.Featured" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <label asp-for="Entity.Active" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Entity.Active" class="form-control" />
                </div>
            </div>
            <input type="hidden" asp-for="Entity.Id" />

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Entity.Categories" class="control-label">Select the appropriate Categories:</label>
                        <hr />
                        <div class="col-md-6">
                            <div class="panel-group" id="accordion">
                                @{ var cout = Convert.ToInt32(Math.Round((double)Model.AvailableCategories.Count / 2));}
                                @if (Model.AvailableCategories != null)
                                {
                                    for (var i = 0; i < cout; i++)
                                    {
                                        <div class="panel">
                                            <div class="row" style="vert-align: middle">
                                                <div class="col-md-1">
                                                    <input asp-for="@Model.AvailableCategories[i].IsSelected" type="checkbox" class="filled-in" style="opacity: 100 !important; position: relative; left: 0; height: 20px" />
                                                    <input asp-for="@Model.AvailableCategories[i].Identity" type="hidden" />
                                                    <input asp-for="@Model.AvailableCategories[i].Identity" type="hidden" />
                                                </div>
                                                <div class="col-md-11">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@Model.AvailableCategories[i].Identity">@Model.AvailableCategories[i].Name</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No categories currently available for this listing</p>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-group" id="accordion">
                                @if (Model.AvailableCategories != null)
                                {
                                    for (var i = cout; i < Model.AvailableCategories.Count(); i++)
                                    {
                                        <div class="panel">
                                            <div class="row" style="vert-align: middle">
                                                <div class="col-md-1">
                                                    <input asp-for="@Model.AvailableCategories[i].IsSelected" type="checkbox" class="filled-in" style="opacity: 100 !important; position: relative; left: 0; height: 20px" />
                                                    <input asp-for="@Model.AvailableCategories[i].Identity" type="hidden" />
                                                    <input asp-for="@Model.AvailableCategories[i].Identity" type="hidden" />
                                                </div>
                                                <div class="col-md-11">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@Model.AvailableCategories[i].Identity">@Model.AvailableCategories[i].Name</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No categories currently available for this listing</p>
                                }
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>

        </div>
        
        <div class="row">
            <div class="col-md-12 bottommargin text-center">
                <h5>Select Project Images:</h5><br>
                <input id="input-3" asp-for="ImagesUpload" type="file" class="file" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
            </div>

            <div class="col-md-12 bottommargin text-center">
                <div class="row">
                    @foreach (var item in Model.Entity.Images)
                    {
                        <img id="@item" style="width: 20%;" title="@Model.Entity.Title" alt="@Model.Entity.Title" src="@item.Entity.GetPath("http://admin.metsi.co.za", ImageType.Cover)">
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <input name="main" type="submit" value="Save" class="btn btn-primary" />
            <input name="finnish" type="submit" value="Publish" class="btn btn-primary" />
            <a asp-area="Blog" asp-controller="Home" asp-action="List" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/summernote/summernote.js"></script>
    <script src="~/js/bs-filestyle.js"></script>

    <script>
        var loadFile = function (event) {
            var output = document.getElementById('preview');
            if (event.target.files.length !== 0) {

                var oldstring = "";
                if (output === null) {
                    oldstring = "/images/placeholders/MetsiPlaceholder-800x533.jpg";
                } else {
                    oldstring = output.src;
                }

                var url = "/Home/CropImage?cropUrl=" + URL.createObjectURL(event.target.files[0]) + "&originalUrl=" + oldstring + "&width=" + 800 + "&height=" + 533
                    + "&previewClass=previewd" + "&uploadProperty=CoverUpload" + "&xTag=CoverCropSettings_X" + "&yTag=CoverCropSettings_Y"
                    + "&widthTag=CoverCropSettings_Width" + "&heightTag=CoverCropSettings_Height" + "&rotateTag=CoverCropSettings_Rotate" + "&scaleXTag=CoverCropSettings_ScaleX"
                    + "&scaleYTag=CoverCropSettings_ScaleY";

                $("#CropModal").load(url,
                    function () {
                        $("#CropModal").modal("show");
                    });
            }
        };

        function getImageFile() {
            document.getElementById("CoverUpload").click();
        }
    </script>

    <script type="text/javascript">
        // Default
        $(document).ready(function () {
            var HomeIndex = function () {

                var $this = this;

                function initialize() {
                    $('#Entity_Description').summernote({
                        height: 250,
                        codemirror: { // codemirror options
                            theme: 'monokai'
                        }
                    });
                }

                $this.init = function () {
                    initialize();
                }
            };
            var self = new HomeIndex();
            self.init();
        });


    </script>
}
