@inject IApplicationConfiguration Configuration

@model UserInfo

@{
    ViewData["Title"] = "Profile";
}

<!-- begin profile-container -->
<div class="profile-container">
    <!-- begin profile-section -->
    <div class="profile-section">
        <!-- begin profile-left -->
        <div class="profile-left">
            <!-- begin profile-image -->
            <div class="profile-image">
                <img src="@Model.GetPath(Configuration.BaseImageUrl,ImageType.Cover, "/images/placeholders/profileImage128x128.png")" style="width:100%;"/>
                <i class="fa fa-user hide"></i>
            </div>
            <!-- end profile-image -->
            <div class="m-b-10">
                @if (Model.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <a asp-area="Profile" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block btn-sm">Edit Profile</a>
                }
                else
                {
                    <a asp-area="Profile" asp-controller="Home" asp-action="Timeline" asp-route-id="@Model.Id" class="btn btn-warning btn-block btn-sm">Follow</a>
                }
            </div>
            <!-- end profile-highlight -->
        </div>
        <!-- end profile-left -->
        <!-- begin profile-right -->
        <div class="profile-right">
            <!-- begin profile-info -->
            <div class="profile-info">
                <!-- begin table -->
                <div class="table-responsive">
                    <table class="table table-profile">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <h4>@Model.FirstName @Model.LastName <small>@Model.EmailAddresses.FirstOrDefault(c => c.Default)</small></h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="highlight">
                                <td class="field">Mood</td>
                                @if (string.IsNullOrEmpty(Model.MoodStatus))
                                {
                                    <td><a asp-area="Profile" asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id">Add Mood Message</a></td>
                                }
                                else
                                {
                                    <td>@Model.MoodStatus</td>
                                }

                            </tr>
                            <tr class="divider">
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="field">Phone Nr</td>
                                @if (Model.ContactNumbers.FirstOrDefault(c => c.Default) == null)
                                {
                                    <td><a asp-area="Profile" asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id">Add Phone Nr</a></td>
                                }
                                else
                                {
                                    <td><i class="fa fa-mobile fa-lg m-r-5"></i>@Model.ContactNumbers.FirstOrDefault(c => c.Default)</td>
                                }
                            </tr>
                            <tr>
                                <td class="field">Email Address</td>
                                @if (Model.EmailAddresses.FirstOrDefault(c => c.Default) == null)
                                {
                                    <td><a asp-area="Profile" asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id">Add Email Address</a></td>
                                }
                                else
                                {
                                    <td><i class="fa fa-mail fa-lg m-r-5"></i>@Model.EmailAddresses.FirstOrDefault(c => c.Default)</td>
                                }
                            </tr>
                            <tr class="divider">
                                <td colspan="2"></td>
                            </tr>
                            <tr class="highlight">
                                <td class="field">About Me</td>
                                @if (string.IsNullOrEmpty(Model.Description))
                                {
                                    <td><a asp-area="Profile" asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id">Add Description</a></td>
                                }
                                else
                                {
                                    <td><i class="fa fa-list fa-lg m-r-5"></i>@Model.Description</td>
                                }
                            </tr>
                            <tr class="divider">
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end table -->
            </div>
            <!-- end profile-info -->
        </div>
        <!-- end profile-right -->
    </div>
    <!-- end profile-section -->
    <!-- begin profile-section -->
    <div class="profile-section">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-md-4">
                @await Component.InvokeAsync("UnreadMessages", new { userId = Model.Id })
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4">
                @await Component.InvokeAsync("NewNotifications", new { userId = Model.Id })
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4">
                @await Component.InvokeAsync("TasksToComplete", new { userId = Model.Id})
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end profile-section -->
</div>
<!-- end profile-container -->

@section Scripts{
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/newsfeed.js"></script>

    <script>
        var changeToDoStatus = function (id) {

            var listItem = document.getElementById("toDoListItem_" + id)
            var linkItem = document.getElementById("toDoListStatusLink" + id)
            var url = '';

            if (listItem.classList.contains("active")) {
                url = '/Calendar/Home/ChangeToDoItemStatus/false';
            }
            else {
                url = '/Calendar/Home/ChangeToDoItemStatus/true';
            }

            axios.post(url, null)
                .then(res => {
                    if (listItem.classList.contains("active")) {
                        listItem.classList.remove("active")
                        linkItem.classList.remove("active")
                    }
                    else {
                        listItem.classList.add("active")
                        linkItem.classList.add("active")
                    }
                    console.log("To Do Item Completed!", res);
                })
                .catch(err => {
                    console.log("Failed to complete To Do Item!", res);
                });
        }
    </script>
}