
<section class="page_title image_fixed bg_gradient t_align_c relative wrapper">
    <div class="container">
        <!--breadcrumbs-->
        <h1 class="color_light fw_light m_bottom_5">@ViewBag.Title</h1>
        <ul class="hr_list d_inline_m breadcrumbs">
            <li class="m_right_8 f_xs_none">
                <a href="@Url.Action("Index", "Home")" class="color_grey_light_3 d_inline_m m_right_10">Home</a>
                <i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i>
            </li>
            @if (ViewContext.RouteData.Values["area"] != null && ViewContext.RouteData.Values["area"].ToString().ToLower() != "")
            {
                <li class="active">
                    <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new {area =ViewContext.RouteData.Values["area"].ToString()})" class="color_grey_light_3 d_inline_m m_right_10">@ViewContext.RouteData.Values["area"].ToString()</a>
                </li>
            }
            @if (ViewContext.RouteData.Values["controller"].ToString().ToLower() != "home")
            {
                <li class="m_right_8 f_xs_none">
                    <a href="@Url.Action("Index", ViewContext.RouteData.Values["controller"].ToString())" class="color_grey_light_3 d_inline_m m_right_10">@ViewContext.RouteData.Values["controller"].ToString()</a>
                    <i class="icon-angle-right d_inline_m color_grey_light_3 fs_small"></i>
                </li>
            }
            @if (ViewContext.RouteData.Values["action"].ToString().ToLower() != "index")
            {
                <li class="f_xs_none">
                    <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())" class="color_grey_light_3 d_inline_m m_right_10">@ViewContext.RouteData.Values["action"].ToString()</a>
                </li>
            }
        </ul>
    </div>
</section>